.bg-login-image {
    background: url('../img/bg1.jpg');
    background-position: center;
    background-size: cover;
}

.bg-gradient-primary {
    background-color: #3f6652;
    background-image: linear-gradient(180deg, #527563 10%, #0D5E35 100%);
    background-size: cover;
}

.primary-text{
    color: #1abc9c;
}

.secondary-text{
    color: #f1c40f;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 1.6rem;
}

.btn-primary{
    color: #fff;
    background-color: #0D5E35;
    border: #083820;
}


.btn-primary:hover{
    background-color: #149957;
}


.img-container {
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 20px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 160px;
	background: #DDD;
	margin-bottom: 10px;
	border-radius: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    cursor: pointer;
    transition: transform .5s;
}
.img-area:hover {
    transform: scale(1.1);
  }
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}

.select-image {
	display: block;
	width: 100%;
	padding: 8px 0;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.additional-img-container{
	height: 120px;
	background: #DDD;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    cursor: pointer;
    transition: transform .5s;
}
